.links {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
body{
   background-image: url("bg.jpg");
   background-repeat: no-repeat;
   background-size:cover ;
}
.links{
    align-items: center;
}

.links a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: transform 0.2s ease;
    font-weight: 100;
    padding: 5px;
    border-radius: 80px;
}

.links a:hover {
    transform: scale(1.05);
    background-color: rgba(255,255,255,0.4);
}

.links img {
    width: 40px;
    height: 30px;
}

.class1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.class1 img {
    padding: 5px;
    position: relative;
    border: 5px solid white;
}

.text {
    text-align: center;
    font-size: 17px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 100px;
}

header{
    color: azure;
    border-bottom: 5px solid white;
    text-align: center;
    stroke: white;
    font-size: larger;
    font-family: "Lucida Console", "Cursive", monospace;
}